<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get">
    <input type="text" placeholder="kiriting" name="qidiruv_sozi">
    <button>Qidirish</button>
</form>
{% for i in ustoz %}
<h1>{{i}}</h1>
{% endfor %}
<form method="post"> {% csrf_token %}
    <input type="text" placeholder="ism kiriting" name="ism">
    <input type="text" placeholder="jins kiriting" name="jins">
    <input type="number" placeholder="yosh kiriting" name="yosh">
    <input type="text" placeholder="daraja kiriting" name="daraja">
    <select name="fan">
        {% for i in fan %}
        <option value="{{i.id}}">{{i}}</option>
        {% endfor %}
    </select>
    <button>Qo'shish</button>
</form>
</body>
</html>